package {{ package_name }}

import (
	"context"
	"fmt"

	"github.com/citrix/adc-nitro-go/service"

	"github.com/hashicorp/terraform-plugin-framework/datasource"
	"github.com/citrix/terraform-provider-citrixadc/citrixadc_framework/utils"
)

var _ datasource.DataSource = (*{{ datasource_struct_name }})(nil)

func {{ datasource_constructor_name }}() datasource.DataSource {
	return &{{ datasource_struct_name }}{}
}

type {{ datasource_struct_name }} struct {
	client *service.NitroClient
}

func (d *{{ datasource_struct_name }}) Metadata(ctx context.Context, req datasource.MetadataRequest, resp *datasource.MetadataResponse) {
	resp.TypeName = req.ProviderTypeName + "_{{ resource_name }}"
}

func (d *{{ datasource_struct_name }}) Configure(ctx context.Context, req datasource.ConfigureRequest, resp *datasource.ConfigureResponse) {
	if req.ProviderData == nil {
		return
	}
	d.client = *req.ProviderData.(**service.NitroClient)
}

func (d *{{ datasource_struct_name }}) Schema(ctx context.Context, req datasource.SchemaRequest, resp *datasource.SchemaResponse) {
	resp.Schema = {{ datasource_schema_func_name }}()
}

func (d *{{ datasource_struct_name }}) Read(ctx context.Context, req datasource.ReadRequest, resp *datasource.ReadResponse) {
	var data {{ model_name }}
	// Read Terraform configuration data into the model
	resp.Diagnostics.Append(req.Config.Get(ctx, &data)...)
	if resp.Diagnostics.HasError() {
		return
	}
{%- if read_pattern %}
{% if read_pattern.pattern == 'simple_find' %}
	// Case 1: Simple find without ID
	var getResponseData map[string]interface{}
	var err error

	getResponseData, err = d.client.FindResource(service.{{ nitro_service_type }}.Type(), "")
	if err != nil {
		resp.Diagnostics.AddError("Client Error", fmt.Sprintf("Unable to read {{ resource_name }}, got error: %s", err))
		return
	}

	{{ set_attr_func }}(ctx, &data, getResponseData)
{% elif read_pattern.pattern == 'find_with_id' %}
	// Case 2: Find with single ID attribute
	{{ read_pattern.get_id_var_name }} := data.{{ read_pattern.get_id_field_name }}.ValueString()

	var getResponseData map[string]interface{}
	var err error

	getResponseData, err = d.client.FindResource(service.{{ nitro_service_type }}.Type(), {{ read_pattern.get_id_var_name }})
	if err != nil {
		resp.Diagnostics.AddError("Client Error", fmt.Sprintf("Unable to read {{ resource_name }}, got error: %s", err))
		return
	}

	{{ set_attr_func }}(ctx, &data, getResponseData)
{% elif read_pattern.pattern == 'array_filter_no_id' %}
	// Case 3: Array filter without parent ID
{%- for attr in read_pattern.unique_attrs %}
	{{ attr.var_name }} := data.{{ attr.field_name }}
{%- endfor %}

	var dataArr []map[string]interface{}
{%- set has_type_attr = read_pattern.unique_attrs|selectattr('option_name', 'equalto', 'type')|list|length > 0 %}
{%- if has_type_attr %}
	var argsMap map[string]string = make(map[string]string)
{%- endif %}
	var err error

{%- if has_type_attr %}
{%- for attr in read_pattern.unique_attrs %}
{%- if attr.option_name == 'type' %}
	if !{{ attr.var_name }}.IsNull() && {{ attr.var_name }}.ValueString() != "" {
		argsMap["{{ attr.option_name }}"] = {{ attr.var_name }}.ValueString()
	}
{%- endif %}
{%- endfor %}
{%- endif %}

	findParams := service.FindParams{
		ResourceType:             service.{{ nitro_service_type }}.Type(),
{%- if has_type_attr %}
		ArgsMap:                  argsMap,
{%- endif %}
		ResourceMissingErrorCode: 258,
	}
	dataArr, err = d.client.FindResourceArrayWithParams(findParams)
	if err != nil {
		resp.Diagnostics.AddError("Client Error", fmt.Sprintf("Unable to read {{ resource_name }}, got error: %s", err))
		return
	}

	// Resource is missing
	if len(dataArr) == 0 {
		resp.Diagnostics.AddError("Client Error", "{{ resource_name }} returned empty array")
		return
	}

	// Iterate through results to find the one with the right id
	foundIndex := -1
	for i, v := range dataArr {
		match := true
{%- for attr in read_pattern.unique_attrs %}
{%- if attr.option_name == 'type' %}
		// Check {{ attr.var_name }}
		if !{{ attr.var_name }}.IsNull() && {{ attr.var_name }}.ValueString() != "" {
			if v, ok := v["{{ attr.option_name }}"]; ok {
				if v.(string) != {{ attr.var_name }}.ValueString() {
					match = false
				}
			}
		}
{%- else %}

		// Check {{ attr.option_name }}
{%- if 'ValueString' in attr.value_accessor %}
		if val, ok := v["{{ attr.option_name }}"].(string); ok {
			if {{ attr.var_name }}.IsNull() || val != {{ attr.var_name }}.ValueString() {
				match = false
				continue
			}
		} else if !{{ attr.var_name }}.IsNull() {
			match = false
			continue
		}
{%- elif 'ValueInt64' in attr.value_accessor %}
		if val, ok := v["{{ attr.option_name }}"]; ok {
			val, _ = utils.ConvertToInt64(val)
			if {{ attr.var_name }}.IsNull() || val != {{ attr.var_name }}.ValueInt64() {
				match = false
				continue
			}
		} else if !{{ attr.var_name }}.IsNull() {
			match = false
			continue
		}
{%- elif 'ValueBool' in attr.value_accessor %}
		if val, ok := v["{{ attr.option_name }}"].(bool); ok {
			if {{ attr.var_name }}.IsNull() || val != {{ attr.var_name }}.ValueBool() {
				match = false
				continue
			}
		} else if !{{ attr.var_name }}.IsNull() {
			match = false
			continue
		}
{%- else %}
		if {{ attr.comparison }} != {{ attr.var_name }} {
			match = false
			continue
		}
{%- endif %}
{%- endif %}
{%- endfor %}

		if match {
			foundIndex = i
			break
		}
	}

	// Resource is missing
	if foundIndex == -1 {
		resp.Diagnostics.AddError("Client Error", fmt.Sprintf("{{ resource_name }} with {{ read_pattern.unique_attrs[0].option_name }} %s not found", {{ read_pattern.unique_attrs[0].var_name }}))
		return
	}

	{{ set_attr_func }}(ctx, &data, dataArr[foundIndex])
{%- elif read_pattern.pattern == 'array_filter_with_id' %}
	// Case 4: Array filter with parent ID
	{{ read_pattern.get_id_var_name }} := data.{{ read_pattern.get_id_field_name }}.ValueString()
{%- for attr in read_pattern.filter_attrs %}
	{{ attr.var_name }} := data.{{ attr.field_name }}
{%- endfor %}

	var dataArr []map[string]interface{}
	var err error

	findParams := service.FindParams{
		ResourceType:             service.{{ nitro_service_type }}.Type(),
		ResourceName:             {{ read_pattern.get_id_var_name }},
		ResourceMissingErrorCode: 258,
	}
	dataArr, err = d.client.FindResourceArrayWithParams(findParams)
	if err != nil {
		resp.Diagnostics.AddError("Client Error", fmt.Sprintf("Unable to read {{ resource_name }}, got error: %s", err))
		return
	}

	// Resource is missing
	if len(dataArr) == 0 {
		resp.Diagnostics.AddError("Client Error", "{{ resource_name }} returned empty array.")
		return
	}

	// Iterate through results to find the one with the right id
	foundIndex := -1
	for i, v := range dataArr {
		match := true
{%- for attr in read_pattern.filter_attrs %}
{%- if attr.option_name == 'type' %}
		// Check {{ attr.var_name }}
		if !{{ attr.var_name }}.IsNull() && {{ attr.var_name }}.ValueString() != "" {
			if v, ok := v["{{ attr.option_name }}"]; ok {
				if v.(string) != {{ attr.var_name }}.ValueString() {
					match = false
				}
			}
		}
{%- else %}

		// Check {{ attr.option_name }}
{%- if 'ValueString' in attr.value_accessor %}
		if val, ok := v["{{ attr.option_name }}"].(string); ok {
			if {{ attr.var_name }}.IsNull() || val != {{ attr.var_name }}.ValueString() {
				match = false
				continue
			}
		} else if !{{ attr.var_name }}.IsNull() {
			match = false
			continue
		}
{%- elif 'ValueInt64' in attr.value_accessor %}
		if val, ok := v["{{ attr.option_name }}"]; ok {
			val, _ = utils.ConvertToInt64(val)
			if {{ attr.var_name }}.IsNull() || val != {{ attr.var_name }}.ValueInt64() {
				match = false
				continue
			}
		} else if !{{ attr.var_name }}.IsNull() {
			match = false
			continue
		}
{%- elif 'ValueBool' in attr.value_accessor %}
		if val, ok := v["{{ attr.option_name }}"].(bool); ok {
			if {{ attr.var_name }}.IsNull() || val != {{ attr.var_name }}.ValueBool() {
				match = false
				continue
			}
		} else if !{{ attr.var_name }}.IsNull() {
			match = false
			continue
		}
{%- else %}
		if {{ attr.comparison }} != {{ attr.var_name }} {
			match = false
			continue
		}
{%- endif %}
{%- endif %}
{%- endfor %}
		if match {
			foundIndex = i
			break
		}
	}

	// Resource is missing
	if foundIndex == -1 {
		resp.Diagnostics.AddError("Client Error", fmt.Sprintf("{{ resource_name }} with {{ read_pattern.filter_attrs[0].option_name }} %s not found", {{ read_pattern.filter_attrs[0].var_name }}))
		return
	}

	{{ set_attr_func }}(ctx, &data, dataArr[foundIndex])
{%- endif %}
{%- else %}
	// Fallback: Simple find without ID
	var getResponseData map[string]interface{}
	var err error

	getResponseData, err = d.client.FindResource(service.{{ nitro_service_type }}.Type(), "")
	if err != nil {
		resp.Diagnostics.AddError("Client Error", fmt.Sprintf("Unable to read {{ resource_name }}, got error: %s", err))
		return
	}

	{{ set_attr_func }}(ctx, &data, getResponseData)
{%- endif %}
	// Save data into Terraform state
	resp.Diagnostics.Append(resp.State.Set(ctx, &data)...)
}