package {{ package_name }}

import (
	"github.com/hashicorp/terraform-plugin-framework/datasource/schema"
{%- if attributes | selectattr('type_info.element_type') | list %}
	"github.com/hashicorp/terraform-plugin-framework/types"
{%- endif %}
)

func {{ function_name }}() schema.Schema {
	return schema.Schema{
		Attributes: map[string]schema.Attribute{
			"id": schema.StringAttribute{
				Computed: true,
			},
{%- for attr in attributes %}
			"{{ attr.name }}": {{ attr.type_info.attribute_type }}{
{%- if attr.type_info.element_type %}
				ElementType: {{ attr.type_info.element_type }},
{%- endif %}
{%- if attr.is_required %}
				Required:    true,
{%- endif %}
{%- if attr.is_optional %}
				Optional:    true,
{%- endif %}
{%- if attr.is_computed %}
				Computed:    true,
{%- endif %}
				Description: "{{ attr.description }}",
			},
{%- endfor %}
		},
	}
}