package netscaler

import (
        "github.com/chiradeep/go-nitro/config/{{.Package}}"
	"github.com/chiradeep/go-nitro/netscaler"
	"github.com/hashicorp/terraform/helper/resource"
	"github.com/hashicorp/terraform/helper/schema"

	"fmt"
	"log"
)


func resourceNetScaler{{.TfTitle}}() *schema.Resource {
	return &schema.Resource{
		SchemaVersion: 1,
                Create:        create{{.TfTitle}}Func,
                Read:          read{{.TfTitle}}Func,
                Update:        update{{.TfTitle}}Func,
                Delete:        delete{{.TfTitle}}Func,
		Schema: map[string]*schema.Schema{
			"name": &schema.Schema{
				Type:     schema.TypeString,
				Optional: true,
				Computed: true,
			},
			"vip": &schema.Schema{
				Type:     schema.TypeString,
				Required: true,
			},
			"service_type": &schema.Schema{
				Type:     schema.TypeString,
				Required: true,
			},
			"port": &schema.Schema{
				Type:     schema.TypeInt,
				Required: true,
			},
			"persistence_type": &schema.Schema{
				Type:     schema.TypeString,
				Optional: true,
				Computed: true,
			},
			"lb_method": &schema.Schema{
				Type:     schema.TypeString,
				Optional: true,
				Computed: true,
			},
		},
	}
}

func create{{.TfTitle}}Func(d *schema.ResourceData, meta interface{}) error {
	client := meta.(*NetScalerNitroClient).client
        var {{.TfId}} string
	if v, ok := d.GetOk("name"); ok {
             {{.TfId}} = v.(string)
	} else {
             {{.TfId}}= resource.PrefixedUniqueId("tf-{{.TfName}}-")
             d.Set("name", {{.TfId}})
	}
        {{.TfName}} := {{.Package}}.{{.StructName}}{
                Name:            {{.TfId}},
		Ipv46:           d.Get("vip").(string),
		Port:            d.Get("port").(int),
		Servicetype:     d.Get("service_type").(string),
		Persistencetype: d.Get("persistence_type").(string),
		Lbmethod:        d.Get("lb_method").(string),
	}

        _, err := client.AddResource(netscaler.{{.StructName}}.Type(), {{.TfId}}, &{{.TfName}})
	if err != nil {
		return err
	}

        d.SetId({{.TfId}})
        err = read{{.TfTitle}}Func(d, meta)
	if err != nil {
                log.Printf("?? we just created this {{.TfName}} but we can't read it ?? %s", {{.TfId}})
		return nil
	}
	return nil
}

func read{{.TfTitle}}Func(d *schema.ResourceData, meta interface{}) error {
	client := meta.(*NetScalerNitroClient).client
        {{.TfId}}:= d.Id()
        log.Printf("Reading {{.TfName}} state %s", {{.TfId}})
        data, err := client.FindResource(netscaler.{{.StructName}}.Type(), {{.TfId}})
	if err != nil {
        log.Printf("Clearing {{.TfName}} state %s", {{.TfId}})
		d.SetId("")
		return nil
	}
	d.Set("name", data["name"])
	d.Set("persistence_type", data["persistencetype"])
	d.Set("lb_method", data["lbmethod"])
	d.Set("service_type", data["servicetype"])

	return nil

}

func update{{.TfTitle}}Func(d *schema.ResourceData, meta interface{}) error {
	log.Printf("[DEBUG] In update func")
	client := meta.(*NetScalerNitroClient).client
        {{.TfId}} := d.Get("name").(string)

        {{.TfName}} := {{.Package}}.{{.StructName}}{
		Name: d.Get("name").(string),
	}
	if d.HasChange("vip") {
            log.Printf("[DEBUG] VIP has changed for {{.TfName}} %s, starting update", {{.TfId}})
            {{.TfName}}.Ipv46 = d.Get("vip").(string)
	}

        _, err := client.UpdateResource(netscaler.{{.StructName}}.Type(), {{.TfId}}, &{{.TfName}})
	if err != nil {
        return fmt.Errorf("Error updating {{.TfName}} %s", {{.TfId}})
	}
        return read{{.TfTitle}}Func(d, meta)
}

func delete{{.TfTitle}}Func(d *schema.ResourceData, meta interface{}) error {
	client := meta.(*NetScalerNitroClient).client
        {{.TfId}} := d.Id()
        err := client.DeleteResource(netscaler.{{.StructName}}.Type(), {{.TfId}})
	if err != nil {
		return err
	}

	d.SetId("")

	return nil
}
